
.flex_container{
    width: 50rem;
    padding: 0.5rem;
    border: 0.7rem solid #FDDA00;
    border-radius: 0.3rem;
}
.item{
    font-weight: 600;
    font-size: 2.5rem;
    font-family: 'Noto Sans';
    width: 12rem;
    background-color: red;;
}

